<h2>Search for a pet:</h2>
<form>
  <input type="search" name="query" [(ngModel)]="query" (keyup.enter)="search()">
  <button type="button" (click)="search()">Search</button>
</form>
<table *ngIf="searchResults.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let animal of searchResults; let i=index">
      <td><a [routerLink]="['/animal', animal.id]">{{animal.name}}</a></td>
      <td>{{animal.age}}</td>
      <td>{{animal.address.street}}<br />
        {{animal.address.city}} {{animal.address.zip}}
      </td>
    </tr>
  </tbody>
</table>